<!-- Navigation -->
<nav class="navbar navbar-custom" role="navigation">
	<div class="container nabvar-inner">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-main-collapse">
			<ul class="nav nav-justified">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/index.html' %}#contact{% else %}{{ '#contact' | prepend: site.baseurl }}{% endif %}">Portfolio</a>
				</li>
				<!---<li>
					<a class="page-scroll" href="{% if page.url == '/index.html' %}#posts{% else %}{{ '#posts' | prepend: site.baseurl }}{% endif %}">Features</a>
				</li>--->
				<li id="posts-submenu-toggle" class="dropup">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Beauty</a>
						</li>
						<li>
							<a href="#">Fashion</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/index.html' %}#about{% else %}{{ '#about' | prepend: site.baseurl }}{% endif %}">About</a>
				</li>
				<li>
					<a class="page-scroll" href="{% if page.url == '/index.html' %}#findus{% else %}{{ '#findus' | prepend: site.baseurl }}{% endif %}">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>